
<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h2>Your Job Is Live</h2>

            <p>
                Thanks for posting a job. <br />

                View it @Html.ActionLink("here", "Index", ViewData["id"])
            </p>

        </div>
    </div>

</div>
